@charset "UTF-8";

body {
  color: #111;
}

.top {
  max-width: 690px;
  min-width: 300px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffcbcb;
}

header h1 a {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../img/Rectangle\ 2x.png') center center / contain no-repeat;
  text-indent: -9999px;
  margin: 10px;
}

header p {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin-left: 15px;
}

.top_menu {
  display: flex;
}

.top_menu .searchBtn {
  display: block;
  width: 13px;
  height: 13px;
  background: url('../img/Search.png') center center / contain no-repeat;
  text-indent: -9999px;
  margin-right: 10px;
  margin-top: 3px;
}

.top_menu .cartBtn {
  margin-right: 15px;
  font-size: 12px;
  padding-bottom: 5px;
}


/*********************************************************************/

main p {

  border-bottom: 0.3px solid black;
  font-size: 13px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 65px;
  max-width: 360px;
  padding-bottom: 9px;
  font-weight: 900;

}

.id {
  margin-top: 67px;
}

button {
  display: flex;
  text-align: center;
  margin-left: 110px;
  margin-top: 28px;
  padding: 6px 100px;
  border-radius: 7px;
  border: none;
  font-size: 13px;
  background: #ffcbcb;
}

main>div {
  text-align: center;
  margin-right: 35px;
  margin-top: 15px;
}

span {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 14px;
  margin-left: 10px;
}