@charset "UTF-8";

body {
  color: #111;
}

.top {
  max-width: 690px;
  min-width: 300px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffcbcb;
}

header h1 {}

header h1 a {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../img/Rectangle\ 2x.png') center center / contain no-repeat;
  text-indent: -9999px;
  margin: 15px;
}

header p {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.top_menu {
  display: flex;
}

.top_menu .searchBtn {
  display: block;
  width: 13px;
  height: 13px;
  background: url('../img/Search.png') center center / contain no-repeat;
  text-indent: -9999px;
  margin-right: 10px;
  margin-top: 3px;
}

.top_menu .cartBtn {
  margin-right: 15px;
  font-size: 12px;
  padding-bottom: 5px;
}

.main_menu {
  border-bottom: 1px solid #111;
  margin: 0 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 6px 30px 6px;
  font-size: 12px;
}

.menu>li {}

.menu>li>a {}

h1 {
  text-align: center;
  font-size: 12px;
  font-weight: 900;

  margin: 10px;
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
}

section div {
  padding: 7px;

}

section img {
  margin-bottom: 7px;
  justify-content: center;
  width: 154px;
  height: 84px;
}

section p {
  font-size: 7px;
}

section span {
  font-size: 5px;
}

.section2 {}

.section2 div {}

.section2 img {
  justify-content: center;
  margin-top: 22px;
  width: 342px;
  height: 166px;
}

.section2 p {
  font-size: 12px;
}

.section2 span {
  font-size: 7px;
}

.section3 {}

.section3 div {}

.section3 h2 {
  margin-top: 24px;
  font-size: 24px;
  margin-bottom: 10px;
}

.section3 img {
  justify-content: center;
  width: 340px;
  height: 192px;
}

.section3 p {
  font-size: 12px;
}